table { width: 100%; }
th { text-align: left;}
.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th { background-color: #E9E9E9;}
.in_progress { color: #CC6600; }
.done { color: #009933; }
li.Rosary_SmallBlueWax { display: block;}
li.KeyItem_KeyRoom { display: block;}
li.Relique_Sang { display: block;}
li.Relique_Langue { display: block;}
li.Relique_Linge { display: block;}
li.Quete_Incomplete_Scapular { display: block;}
li.Boss_Crisanta { display: block;}
li.Boss_Warden { display: block;}

@media print {
    body { color: #000; }
    .navbar, #intro, input[type="checkbox"], .done, .in_progress { display: none; }
    a { color: #000; text-decoration: underline; }
    .tab-content > .tab-pane, .pill-content > .pill-pane { display: block; }
    .tab-pane { page-break-after: always; }
}


